.log__btn {
  /* padding: 1rem 0rem; */
  border: none;
  border-radius: 5px;
  background-color: var(--title-color-dark);
  margin: 1rem 0rem;
  font-size: var(--h3-font-size);
  color: var(--container-color);
}

.log__btn:hover {
  background-color: var(--higlight-color);
  transition: 0.2s all ease-in-out;
}

.log__form h1 {
  text-align: left;
  font-size: 3rem;
}

.login {
  background-color: var(--container-color);
  display: flex;
  justify-content: space-evenly;
}

.log__img {
  background: url(../../assets/heatlhc.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  order: 1;
  justify-self: end;
  width: 100%;
  height: 100%;
}

.log__form {
  background-color: var(--body-color);
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  padding: 0 150px;
  height: 100%;
  text-align: center;
}

.log__form p {
  color: var(--text-color);
  text-align: left;
}

.log__form p:hover {
  transition: 0.2s ease-in-out;
  color: var(--higlight-color);
}

.log__input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.log__container {
  background-color: var(--body-color);
  /* border-radius: 10px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  overflow: hidden;
  width: 800px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
}

.log-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}

.overlay {
  /* background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
    background: linear-gradient(to right, #ff4b2b, #ff416c); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
}

.overlay-right {
  right: 0;
}

@media screen and (max-width: 768px) {
  .overlay-container {
    display: none;
  }
  .log-in-container {
    width: 100%;
  }

  .log__container {
    width: 400px;
  }
}
